Repository swsnu/swpp18-team5, pull requests merged in 2018-12, with the labels that each got.

#121 Frontend choosing restaurant
  .gitignore
  frontend/package-lock.json
  frontend/src/app/app.module.ts
  frontend/src/app/party/party-choosing-menu/party-choosing-menu.component.spec.ts
  frontend/src/app/party/party-choosing-restaurant/add-vote-object/add-vote-object.component.css
  frontend/src/app/party/party-choosing-restaurant/add-vote-object/add-vote-object.component.html
  frontend/src/app/party/party-choosing-restaurant/add-vote-object/add-vote-object.component.spec.ts
  frontend/src/app/party/party-choosing-restaurant/add-vote-object/add-vote-object.component.ts
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.html
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.spec.ts
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.ts
  frontend/src/app/party/party-choosing-restaurant/vote-restaurant/vote-restaurant.component.html
  frontend/src/app/party/party-choosing-restaurant/vote-restaurant/vote-restaurant.component.spec.ts
  frontend/src/app/party/party-choosing-restaurant/vote-restaurant/vote-restaurant.component.ts
  frontend/src/app/party/party-ordering/party-ordering.component.spec.ts
  frontend/src/app/party/party.component.html
  frontend/src/app/party/party.component.spec.ts
  frontend/src/app/party/party.component.ts
  frontend/src/app/services/party.service.ts
  frontend/src/app/sign-up/sign-up.component.ts
  frontend/src/app/types/command.ts
  frontend/src/app/types/event.ts
  frontend/src/app/types/party.ts
  package-lock.json
Labels: feature, frontend

#126 Show signout button when signed in only
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
Labels: bug, frontend

#129 to ordering phase button for party leader
  frontend/src/app/party/party-choosing-menu/party-choosing-menu.component.html
  frontend/src/app/party/party-choosing-menu/party-choosing-menu.component.ts
  frontend/src/app/party/party.component.html
  frontend/src/app/party/party.component.ts
  frontend/src/app/services/party.service.ts
  frontend/src/app/types/command.ts
Labels: feature, frontend

#127 Append 'id' to the end of fields that actually return id
  backend/api/models.py
Labels: backend, bug

#125 Endpoint for listing all restaurants
  backend/Makefile
  backend/api/tests/test_restaurant.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend, feature

#139 Frontend payment
  frontend/src/app/party/party-payment/party-payment.component.html
  frontend/src/app/party/party-payment/party-payment.component.spec.ts
  frontend/src/app/party/party-payment/party-payment.component.ts
  frontend/src/app/party/party.component.html
  frontend/src/app/party/party.component.spec.ts
  frontend/src/app/party/party.component.ts
Labels: feature, frontend

#138 Refactored User Service
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/lobby/lobby.component.spec.ts
  frontend/src/app/lobby/lobby.component.ts
  frontend/src/app/party/party.component.spec.ts
  frontend/src/app/party/party.component.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
  frontend/src/app/sign-in/sign-in.component.spec.ts
  frontend/src/app/sign-in/sign-in.component.ts
  frontend/src/app/sign-up/sign-up.component.spec.ts
  frontend/src/app/sign-up/sign-up.component.ts
Labels: enhancement, frontend, refactoring

#146 getUser method to User Service
  frontend/src/app/auth/auth.guard.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
Labels: feature, frontend

#144 API for user detail
  backend/api/decorator.py
  backend/api/tests/test_user.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend, feature

#145 Fixed dockerization
  backend/Dockerfile
  backend/docker-compose.yml
Labels: backend, enhancement

#148 Fix some bugs on frontend
  frontend/src/app/party/party-choosing-menu/party-choosing-menu.component.html
  frontend/src/app/party/party-choosing-menu/party-choosing-menu.component.ts
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.html
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.ts
  frontend/src/app/party/party-ordered/party-ordered.component.html
  frontend/src/app/party/party-ordered/party-ordered.component.spec.ts
  frontend/src/app/party/party-ordered/party-ordered.component.ts
  frontend/src/app/party/party-payment/party-payment.component.html
  frontend/src/app/party/party.component.html
  frontend/src/app/party/party.component.spec.ts
  frontend/src/app/party/party.component.ts
  frontend/src/app/services/party.service.ts
  frontend/src/app/services/restaurant.service.spec.ts
  frontend/src/app/services/restaurant.service.ts
  frontend/src/app/types/menu.ts
  frontend/src/app/types/party.ts
Labels: bug, frontend

#117 CommandNotAllowedError when command on wrong phase
  backend/websocket/consumer.py
  backend/websocket/event/error.py
  backend/websocket/exception.py
  backend/websocket/tests/test_consumer.py
  backend/websocket/tests/test_menu.py
  backend/websocket/tests/test_phase.py
  backend/websocket/util.py
Labels: backend, enhancement, pending

#154 delete invalid party and party state
  backend/api/models.py
  backend/api/views.py
  backend/websocket/consumer.py
  backend/websocket/tests/test_util.py
  backend/websocket/util.py
Labels: backend, bug

#149 add ellipsis when party name and/or party location is long
  frontend/src/app/lobby/lobby-list-item/lobby-list-item.component.css
  frontend/src/app/lobby/lobby-list-item/lobby-list-item.component.html
  frontend/src/app/lobby/lobby-list-item/lobby-list-item.component.ts
Labels: feature, frontend

#157 Fix PartyPayment Component
  frontend/src/app/party/party-payment/party-payment.component.html
  frontend/src/app/party/party-payment/party-payment.component.ts
  frontend/src/app/party/party.component.html
  frontend/src/app/party/party.component.spec.ts
  frontend/src/app/party/party.component.ts
  frontend/src/app/services/party.service.ts
  frontend/src/app/services/websocket.service.ts
  frontend/src/app/types/command.ts
  frontend/src/app/types/event.ts
  frontend/src/app/types/party.ts
Labels: bug, frontend

#153 Caching User, Restaurant, and Menu in each services
  frontend/src/app/services/restaurant.service.spec.ts
  frontend/src/app/services/restaurant.service.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
Labels: enhancement, frontend

#156 More precise tests for #150
  backend/websocket/tests/test_util.py
Labels: backend, bug

#158 party deleting ws api
  backend/websocket/consumer.py
  backend/websocket/event/__init__.py
  backend/websocket/tests/test_party.py
Labels: backend, feature

#162 payments and collections api also returns user and menu objects
  backend/api/tests/test_record.py
  backend/api/views.py
Labels: backend, feature

#163 filtering unvoted restaurant for add-vote-object component
  frontend/src/app/party/party-choosing-restaurant/add-vote-object/add-vote-object.component.css
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.html
  frontend/src/app/party/party-choosing-restaurant/party-choosing-restaurant.component.ts
Labels: frontend
